.modal {
  position: fixed;
  box-sizing: border-box;
  width: 720px;
  height: 718px;
  left: 37%;
  top: 30%;
  background: #1C1C21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
  z-index: 3;
}

.done_image {
  background: url('../../images/done.png');
  width: 120px;
  height: 120px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: transparent;
}

.order_number {
  text-align: center;
}

.order_name {
  text-align: center;
}
