.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 50px 50px 0 50px;
}

.title {
  display: flex;
}

.content_wrapper {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
}

.feeds_wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
}