.modal {
  position: fixed;
  box-sizing: border-box;
  width: 720px;
  height: 539px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1C1C21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
  z-index: 3;
}

.image_container {
  width: 520px;
  height: 240px;
}

.description {
  text-align: center;
}

.nutrition_block {
display: flex;
flex-direction: row;
text-align: center;
}

.nutrition_element {
  display: flex;
  flex-direction: column;
  width: 520px;
  margin-right: 20px;
}

.nutrition_element:last-child{
  margin-right: 0;
}

.close {
  position: absolute;
  top: 40px;
  right: 30px;
  background: transparent;
}
