.section {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 600px;
}

.no_buns_ingredients {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  height: 620px;
  gap: 10px;
}

.counter_final {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  margin-top: 40px;
}

.currency_icon {
  margin-right: 5px;
}

.sum_and_icon_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.constructor_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 8px;
}

.dragicon {
  align-self: center;
  justify-self: center;
  margin-right: 14px;
}

.section_buns {
  align-self: center;
  margin-left: 22px;
}


